.s-button {
  padding: 0.5em 1em;
  border: 1px solid $s-color-primary3;
  border-bottom: 1px solid $s-color-primary2;

  background: $s-color-primary4;
  color: $s-color-neutral9;
  text-decoration: none;
}

.s-button:hover {
  border: 1px solid $s-color-primary2;
  border-bottom: 1px solid $s-color-primary1;
  background: $s-color-primary3;
}
.s-button:active, :checked + .s-button {
  border: 1px solid $s-color-primary2;
  border-bottom: 1px solid $s-color-primary2;
  background: $s-color-primary2;
}
.s-button.is-disabled {
  border: 1px solid $s-color-neutral4;
  border-bottom: 1px solid $s-color-neutral3;
  background: $s-color-neutral7;
  color: $s-color-neutral4;
}
