input {
  border: 1px solid $s-color-neutral6;
  color: $s-color-neutral2;
  padding: 0.3666em 1em 0.3333em 1em;
  border-radius: $s-var-radius;
}

.s-inputGroup__item--tag,
.s-inputGroup__item--tagFlat,
.s-inputGroup__item--tagMin {
}
