input, textarea {
  border: 1px solid $s-color-neutral6;
  color: $s-color-neutral2;
  padding: $so-inputPadding;
  border-radius: $s-var-radius;
}

.s-inputGroup__item--tag,
.s-inputGroup__item--tagFlat,
.s-inputGroup__item--tagMin {
}
