// so-siteHeader is the module for creating headers in Stellar

// It follows specific dimensions
// 72px from top to bottom outer height (not including border)
// 18px of padding on the top; 18px on the bottom; leaving 36px in the middle

// The baselines of the items should be aligned to the baseline of the .so-logo
// baseline (when aligned using flex-end). If using flex aligns don't work, you
// can fine tune the verticalness using paddings inside the content (not the
// parent siteHeader).

// Max font size is $s-scale-1 (28px)

.so-siteHeader {
  @include S-flex-row();
  align-items: flex-end;
  height: 72px;
  padding: 18px 0;
}
.so-siteHeader .s-inlineList {
  align-self: center;
}
.so-siteHeader .s-navList {
  align-self: center;
}

.so-siteHeader__navList {
  color: $s-color-primary4;
}
.so-siteHeader__navList__item {
  text-decoration: none;
}
.so-siteHeader__navList__item:hover {
  text-decoration: underline;
}
.so-siteHeader__navList__item.is-currentItem {
  color: $s-color-dark2;
}
